.container {
	padding: 0.5em 0.8em;
}

.disappear {
	display: none;
}

main.grow, aside.grow, .grow {
	width: 100%;
}

#mainH {
	justify-content: center;
}

#mainN ul {
	flex-direction: column;		
}

#mainN ul li {
	width: 100%;
	border-bottom: 0.2em solid rgba(0, 0, 0, 0.06);
	border-radius: 0 0 0.15em 0.15em;
}

#mainN ul li a {
	font-size: 1.4em;
}

main div.flex {
	margin-bottom: 2em;
}

main header, main article, aside header   {
	margin-bottom: 0.4em;
}

aside article {
	margin-bottom: 1em;
}

figure.picture {
	margin-top: 0.5em;
}

#mainF nav ul li, #mainF p {
	padding: 0.4em 0.3em;	
}

#map {
	width: 16em;
	height: 16em;
}

#book {
	width: 74%;
}

#contact, #contact input:not([type="submit"]) {
	width: 90%;
}

#contact input:not([type="submit"]) {
	height: 2.3em;	
    font-size: 0.7em;
}

#author { 
	height: 20em;
}
