@font-face
{
	src: url("PoiretOne.ttf");
	font-family: "Poiret";
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Poiret", sans-serif;
}

figure figcaption {
	text-align: center;
	font-style: italic;
}

img:not([id="logo"]) {
	width: 100%;
	height: auto;
	border-radius: 1em 2em;
}

p {
	letter-spacing: 0.08em;
}

ul {
	list-style-type: none;
}

a { 
	outline: none;
}

a:link, a:visited {
	color: rgb(0, 0, 0);
	text-decoration: none;
	letter-spacing: 0.07em;
}	

#mainH a:hover, #mainN a:hover {
	color: rgb(0, 155, 0);
	font-weight: bold;
	letter-spacing: 0.25em;
}

.flex  {
	display: flex; 
  	flex-wrap: wrap;  
  	justify-content: space-between;
}

.container {
	max-width: 1550px;
	margin: 0 auto;
	padding: 1em 3em 0 3em;
}

#mainH #logo {
	width: 7.5em;
	height: 5em;
}

#mainH h1 {
	font-size: 2em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

#mainN {
	margin-bottom: 2.5em;
}

#mainN ul li {
	width: 25%;
	padding: 0.5em;	
	text-align: center;
}

#mainN ul li.act {
	border-bottom: 0.2em solid rgb(0, 155, 0);
	border-radius: 0 0 0.15em 0.15em;
}

#mainN ul li a {
	font-size: 1.6em;
}

#mainN ul li.act a {
	color: rgb(0, 155, 0);
	font-weight: bold;	
}

main.block {
	width: 60%;
}

aside.block {
	width: 36%;
}

main.block figure {
	margin: 1.8em 0;
}

main div.flex {
	margin-bottom: 3em;
}

main header, main article, aside header  {
	margin-bottom: 1.2em;
}

aside article {
	margin-bottom: 2.5em;
}

main header, aside header, main p, aside p {
	text-align: center;
}

main header, aside header {
	letter-spacing: 0.1em;
}

main p, aside p {
	font-size: 1.2em;
}

.right {
	flex-direction: row-reverse;
}

.text, .picture {
	width: 47%;
}

.text {
	text-align: justify;
}

.text p.disappear {
	margin-top: 0.5em;
}

#mainF {
	margin-top: 1.5em;
}

#mainF {
	background-color: rgba(0, 0, 0, 0.85);
}

#mainF, #mainF a {
	color: rgb(255, 255, 255);
}

#mainF a:hover {
	text-decoration: underline;
}

#mainF nav ul li, #mainF p {
	padding: 0.8em 0.6em;
}

#mainF nav ul.icons li a:hover span {
	color: rgb(0, 155, 0);
}

#mainF p {
	font-size: 1.1em;
}

#contactInfo p span {
	margin-right: 0.3em;
}

#contactInfo p {
	padding: 0.3em;
}

#map {
	width: 18em;
	height: 18em;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.025);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 1.5em;
	background-color: rgba(0, 0, 0, 0.025);
	border-radius: 1em 2em;
	font-size: 1.25em;
}

select, input:not([type="submit"]), textarea {
	margin-bottom: 1em;
	border: 0.15em solid rgba(0, 0, 0, 0.3);
    border-radius: 0.4em 0.8em;
    padding: 0.4em 0.8em;
	outline: none;
}

select:focus, input:not([type="submit"]):focus, textarea:focus {
	box-shadow: 0.05em 0.05em 0.1em rgb(0, 155, 0);
	border-color: rgb(0, 155, 0);
	transition: 0.4s;
}

select, input:not([type="submit"]) {
	height: 2.5em;	
    font-size: 0.85em;
}

#submit {
	margin-bottom: 1.5em;
	padding: 0.7em 2em;
	background-color: rgba(0, 0, 0, 0.85);
	border: none;
	border-radius: 0.4em 0.8em;
	color: rgb(255, 255, 255);
	font-size: 0.8em;
}

#submit:hover {
	box-shadow: 0.15em 0.15em 0.3em rgb(0, 155, 0);
	background-color: rgb(0, 155, 0);
	cursor: pointer;
	transition: 0.2s;
}

#book {
	width: 92%;
}

#book label {
	margin-bottom: 1em;
}

#book #adults {
	margin-left: 1.05em;
}

#contact, #contact input:not([type="submit"]) {
	width: 75%;		
}

#contact textarea {
	max-width: 94%;	
	font-size: 0.85em;
}

#author {
	display: flex;
	flex-direction: column;
	align-items: center;	
	height: 25em;
}

#author h2, h3 {
	padding-bottom: 2em;
}

/* sklanja glupi baner */
footer + div, script + div {
	display: none;
}
